body {
    background-image: url("./img/carp-crd-2.png");
}

#main-content {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.93);
    left: 10%;
    top: 10%;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
}

#build-info {
    color: #880000;
    font-style: italic;
}
